{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "ecmaFeatures": {
    "forOf": true,
    "es6": true
  },
  "rules": {
    "no-use-before-define": ["error", { "functions": false, "classes": true }]
  }
}
